langchain
langchain_community
langchain_core
langchain_text_splitters
arxiv
wikipedia
ipykernel
Chromadb
langchain_huggingface
langchain_chroma
python-dotenv
streamlit
langchain_groq
duckduckgo-search